.shell {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  position: sticky;
  top: 0;

  display: flex;
  flex-direction: column;

  height: 100vh;
  padding: 16px;
  border-right: 1px solid var(--line);
}

.main {
  flex-grow: 1;
  padding: 0;
}

@media (width <= 800px) {
  .shell {
    grid-template-columns: 1fr;
  }

  .sidebar {
    display: none;
  }
}
